

<body>
  <!-- <app-generic-navbar></app-generic-navbar> -->
  <div class="heading">
    <h1>Your Heading Text</h1>
  </div>
  <div class="outer">
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Your Address Topic</div>
            <div class="text-one">Your Address</div>
            <!-- <div class="text-two">Canada L7A 0p8</div> -->
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Your Contact Topic</div>
            <div class="text-one">Your Phone Number</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Your Email Topic</div>
            <div class="text-one">Your Email Address</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Your Meeting Topic</div>
          <p>Your Meeting Additional Data</p>
          <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Placeholder 1">
            </div>
            <div class="input-box">
              <input type="text" placeholder="Placeholder 2">
            </div>
            <div class="input-box">
                <input type="text" placeholder="Placeholder 3">
            </div>
            <div class="input-box">
                <input type="text" placeholder="Placeholder 4">
              </div>
            <div class="message-box">
              
            </div>
            <div class="button">
              <input type="button" value="Button Text" >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<div>
  <!-- <app-footer></app-footer> -->
</div>
