<header class="header">
  <div class="header-title-container">
      <a routerLink="/customer-home" class="title-link">
          <h1 class="title">
              <img src="assets/img/logo.png" width="110px" height="auto" style="margin-right: 5px" />
          </h1>
      </a>
      <button class="hamburger">
      </button>
  </div>
  <ng-content />

  <div class="header-links-container">
      <div class="header-links-container">
          <ul>
              <li class="nav-link" [routerLink]="['']" class="nav-link" style="cursor: pointer">Home</li>
              <li class="nav-link" [routerLink]="['/signin']" class="nav-link" style="cursor: pointer">Sign in</li>
              <li class="nav-link" [routerLink]="['/question']" class="nav-link" style="cursor: pointer">Get recommendation</li>
          </ul>
      </div>
  </div>
</header>