* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  background-size: 100%;
  min-height: 100vh;
}

.box {
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
  background: rgb(0, 0, 0, 0);
  padding: 60px 40px 60px 40px;
  border: 3px solid gray;
  border-bottom-color: grey;
  border-radius: 20px;
  position: absolute;
  margin-top: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
h1{
  font-family: "Lexend";
}
.title {
  color: #29C4A9;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  font-size: 30px;
  border: none;
}

.message,
.signup {
  color: #000000;
  font-size: 14px;
  text-align: center;
}

.a {
  color: #29C4A9;
  cursor: pointer;
}

.a:hover {
  opacity: 0.8;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > div {
  display: flex;
  align-items: center;
}

.form-group input[type="checkbox"] {
  margin-right: 5px;
}

.forgot-password {
  margin-left: auto;
  text-decoration: none;
  color: #29C4A9;
  font-size: 14px;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.form label {
  position: relative;
}

.form label input {
  width: 300px;
  padding: 18px 17px 9px 17px;
  outline: none;
  border: 1.5px solid #6a767e;
  border-radius: 30px;
}

.form label input + span {
  position: absolute;
  left: 15px;
  top: 12px;
  color: #444a4f;
  font-size: 0.9em;
  transition: 0.3s ease;
}

.form label input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label input:focus + span,
.form label input:valid + span {
  top: 2px;
  font-size: 0.7em;
  font-weight: 300;
  color: #29C4A9;
}

.submit-btn {
  margin-top: 15px;
  background-color: #29C4A9;
  color: #fff;
  font-size: 18px;
  font-style: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 25px;
}

.submit-btn:hover {
  color: white;
}

@media (max-width: 649px) {
  .card {
    margin-left: -150px;
  }
}  