<section class="section-hero">
    <div class="hero">
  
      <div class="hero-text-box">
        <h1 class="heading-primary">
          Lorem ipsum dolor sit amet
        </h1>
        <p class="hero-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="delivered-products">
          <div class="delivered-imgs">
            <img src='assets/customer.jpg' alt="Customer photo" />
            <img src='assets/customer-2.jpg' alt="Customer photo" />
            <img src='assets/customer-3.jpg' alt="Customer photo" />
            <img src='assets/customer-4.jpg' alt="Customer photo" />
            <img src='assets/customer-5.jpg' alt="Customer photo" />
          </div>
          <p class="delivered-text">
            <span>Lorem ipsum</span> dolor sit amet.
          </p>
        </div>
        <div class="login-container">
          <button class="login-btn" routerLink="/login">Login</button>
        </div>
  
      </div>
  
  
  
      <div class="hero-img-box">
        <picture>
          <img class="hero-img" src="assets/home-pic.jpg" alt="Background Image" />
        </picture>
      </div>
    </div>
  </section>
  
  
  