
  <div class="maincontainer" ngxUiLoaderBlurred (blur)="500">
    <div class="registration-container">
      <form>
        <div class="heading">
          <p>Create an account</p>
        </div>
        <div class="form-group" >
          <label for="email">Name</label>
          <input type="text" name="name" required placeholder="Enter your name" />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" name="email" required placeholder="Enter your email" />
        </div>
        <div class="form-group" >
          <label for="password">Password</label>
          <input type="password" name="password" required placeholder="Enter your password"  />
        </div>
        <div >
          <button class="register" type="button">
            SignUp
          </button>
        </div>
      </form>
      <div class="bottom">
        <p class="alreadymem">
          Already a member?<a routerLink="/login" class="login">Login</a>
        </p>
      </div>
    </div>
    <div class="image-container">
      <img src="https://img.freepik.com/free-vector/woman-with-kid-consulting-doctor_74855-4587.jpg?w=740&t=st=1706953844~exp=1706954444~hmac=0a46370eb83f03c9ddf183d4312322dddb6cf7e27f01685591d080b0441e2363" />
    </div>
  </div>