<!-- 
  <div class="maincontainer" >
    <div class="login-container">
      <form>
        <div class="heading">
          <p>Login</p>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" name="email" required placeholder="Enter your email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" required placeholder="Enter your password" />
        </div>
        <p class="forgottext">
          <a routerLink="/forgot-password" class="signup">Forgot Password</a>
        </p>
        <div>
          <br />
          <button class="register" type="button">Login</button>
        </div>
      </form>
      <div class="bottom">
        <p class="notmem">
          Not a member?<a routerLink="/signin" class="signup">SignUp</a>
        </p>
      </div>
    </div>
    <div class="image-container">
      <img src="https://img.freepik.com/free-vector/woman-with-kid-consulting-doctor_74855-4587.jpg?w=740&t=st=1706953844~exp=1706954444~hmac=0a46370eb83f03c9ddf183d4312322dddb6cf7e27f01685591d080b0441e2363" />
    </div>
  </div> -->

  <div class="maincontainer">
    <div class="image-container">
      <!-- <img src="https://img.freepik.com/free-vector/woman-with-kid-consulting-doctor_74855-4587.jpg?w=740&t=st=1706953844~exp=1706954444~hmac=0a46370eb83f03c9ddf183d4312322dddb6cf7e27f01685591d080b0441e2363" alt="Image" /> -->
    </div>
    <div class="displayTable">
      <div class="displayTableCell">
        <div class="authBlock">
          <h3 class="heading">Log In</h3>
          <div class="formGroup">
            <input
              type="text"
              class="formControl"
              placeholder="Username"
              #userName
              required
            />
          </div>
          <div class="formGroup">
            <input
              type="password"
              class="formControl"
              placeholder="Password"
              #userPassword
              required
            />
          </div>
          <!-- Calling SignIn Api from AuthService -->
          <div class="formGroup">
            <input
              type="button"
              class="btn btnPrimary"
              value="Log in"
              (click)="authService.SignIn(userName.value, userPassword.value)"
            />
          </div>
          <div class="formGroup">
            <span class="or"><span class="orInner">Or</span></span>
          </div>
          <div class="forgotPassword">
            <span routerLink="/forgot-password">Forgot Password?</span>
          </div>
          <div class="redirectToLogin">
            <span>Don't have an account?<span class="redirect" routerLink="/signup">Register</span></span>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  